.topBorder {
	border-top: 1px solid #808080;
}
.bottomBorder {
	border-bottom: 1px solid #808080;
}
.leftBorder {
	border-left: 1px solid #808080;
}
.rightBorder {
	border-right: 1px solid #808080;
}

.gameCell {
	height: 30%;
	width: 30%;
	display: inline-block;
	font-size: 12pt;
	vertical-align: top; /* makes cell not drop down if text in cell */
}

.gameGrid {
	height: 750px;
	width: 750px;
	margin: auto;
	font-size: 0; /* removes white space in container */
}

.x {
	background: blue;
	font-weight: bold;
	font-size: 150pt;
	color: white;
	text-align: center;

}

.animatexclass {
	-webkit-animation-name: animatex; /* Chrome, Safari, Opera */
	-webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
	animation-name: animatex;
	animation-duration: 1s;
}

.o {
	background: red;
	font-weight: bold;
	font-size: 150pt;
	color: white;
	text-align: center;

}

.animateoclass {
	-webkit-animation-name: animateo; /* Chrome, Safari, Opera */
	-webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
	animation-name: animateo;
	animation-duration: 1s;
}

.winnerCell {
	background: green;
	font-weight: bolder;
	font-style: italic;
}



/* Chrome, Safari, Opera */
@-webkit-keyframes animatex {
    0%   {background-color: rgba(0, 0, 255, 0);}
	10%   {background-color: rgba(0, 0, 255, .1);}
    20%  {background-color: rgba(0, 0, 255, .2);}
	30%  {background-color: rgba(0, 0, 255, .3);}
	40%  {background-color: rgba(0, 0, 255, .4);}
    50%  {background-color: rgba(0, 0, 255, .5);}
	60%  {background-color: rgba(0, 0, 255, .6);}
	70%  {background-color: rgba(0, 0, 255, .7);}
	80%  {background-color: rgba(0, 0, 255, .8);}
	90%  {background-color: rgba(0, 0, 255, .9);}
    100% {background-color: rgba(0, 0, 255, 1);}
}

/* Standard syntax */
@keyframes animatex {
	0%   {background-color: rgba(0, 0, 255, 0);}
	10%   {background-color: rgba(0, 0, 255, .1);}
    20%  {background-color: rgba(0, 0, 255, .2);}
	30%  {background-color: rgba(0, 0, 255, .3);}
	40%  {background-color: rgba(0, 0, 255, .4);}
    50%  {background-color: rgba(0, 0, 255, .5);}
	60%  {background-color: rgba(0, 0, 255, .6);}
	70%  {background-color: rgba(0, 0, 255, .7);}
	80%  {background-color: rgba(0, 0, 255, .8);}
	90%  {background-color: rgba(0, 0, 255, .9);}
    100% {background-color: rgba(0, 0, 255, 1);}
}


/* Chrome, Safari, Opera */
@-webkit-keyframes animateo {
	0%   {background-color: rgba(255, 0, 0, 0);}
	10%   {background-color: rgba(255, 0, 0, .1);}
    20%  {background-color: rgba(255, 0, 0, .2);}
	30%  {background-color: rgba(255, 0, 0, .3);}
	40%  {background-color: rgba(255, 0, 0, .4);}
    50%  {background-color: rgba(255, 0, 0, .5);}
	60%  {background-color: rgba(255, 0, 0, .6);}
	70%  {background-color: rgba(255, 0, 0, .7);}
	80%  {background-color: rgba(255, 0, 0, .8);}
	90%  {background-color: rgba(255, 0, 0, .9);}
    100% {background-color: rgba(255, 0, 0, 1);}
}

/* Standard syntax */
@keyframes animateo {
	0%   {background-color: rgba(255, 0, 0, 0);}
	10%   {background-color: rgba(255, 0, 0, .1);}
    20%  {background-color: rgba(255, 0, 0, .2);}
	30%  {background-color: rgba(255, 0, 0, .3);}
	40%  {background-color: rgba(255, 0, 0, .4);}
    50%  {background-color: rgba(255, 0, 0, .5);}
	60%  {background-color: rgba(255, 0, 0, .6);}
	70%  {background-color: rgba(255, 0, 0, .7);}
	80%  {background-color: rgba(255, 0, 0, .8);}
	90%  {background-color: rgba(255, 0, 0, .9);}
    100% {background-color: rgba(255, 0, 0, 1);}
}
